
# GCP
build --action_env=GCP_CLOUD_SQL_SA="cloud-sql-user"
build --action_env=GCP_CLOUD_SQL_SA_SECRET="cloud_sql_sa"
build --action_env=GCP_CLOUD_SQL_NAME=backend-postgres
build --action_env=GCP_CLOUD_SQL_INSTANCE="$(GCP_PROJECT_ID):$(GCP_REGION):$(GCP_CLOUD_SQL_NAME)"
build --action_env=GCP_TERRAFORM_BUCKET="$(GCP_PROJECT_NAME)-terraform"
build --action_env=GCP_TERRAFORM_SA="terraform-sa"
build --action_env=GCP_TERRAFORM_SA_SECRET="terraform_sa"
build --action_env=GCP_CLOUD_BUILD_SA="cloud-build-sa"
build --action_env=GCP_CLOUD_BUILD_SA_SECRET="cloud-build-sa"
build --action_env=GCP_DEVELOPMENT_SA="development-sa"
build --action_env=GCP_DEVELOPMENT_SA_SECRET="development-sa"

# GCP artifacts
build --action_env=GCP_NPM_ARTIFACTS_SCOPE=@wr
build --action_env=GCP_NPM_ARTIFACTS_REPOSITORY=internal-deps-npm
build --action_env=GCP_NPM_ARTIFACTS_LOCATION=europe-central2

# GCP docker artifacts
build --action_env=GCP_DOCKER_ARTIFACTS_REPOSITORY=service-images
build --action_env=GCP_DOCKER_ARTIFACTS_LOCATION=europe-central2

# Docker image names
build --action_env=GCP_DOCKER_BACKEND_IMAGE=wr-backend
build --action_env=GCP_DOCKER_WEB_CLIENT_IMAGE=wr-client

# GKE cluster config
build --action_env=GKE_CLUSTER_NAME_SHORT=wr-cluster-1
build --action_env=GKE_CLUSTER_LOCATION=europe-central2
build --action_env=GKE_CLUSTER_NAME=gke_$(GCP_PROJECT_ID)_$(GKE_CLUSTER_LOCATION)_$(GKE_CLUSTER_NAME_SHORT)
build --action_env=GKE_CLUSTER_LOCATION_ROOT=eu
