node_modules
**/node_modules/
server/apps/backend/node_modules
server/packages/logger/node_modules
server/packages/data-source/node_modules
server/packages/data-source/prisma/prisma-client/node_modules
client/apps/web-client/node_modules
client/packages/ui/node_modules
server/packages/backend-api/node_modules
