# WORKSPACE
# GCP
build --action_env=GCP_PROJECT_ID=wr-dev-393622
build --action_env=GCP_PROJECT_NAME=wr-dev
build --action_env=GCP_REGION=europe-central2
build --action_env=GCP_BAZEL_REMOTE_CACHE_BUCKET=bzl-remote-cache

# AWS
build --action_env=AWS_DEFAULT_REGION="eu-north-1"

# POSTGRES
build --action_env=AUTH_POSTGRES_USERNAME=auth_user

# BACKEND

build --action_env=BACKEND_AUTH_VERIFY_WEBHOOK_URL=http://auth-service:$(AUTH_WEB_EXPOSE_PORT)/api/authentication/verify

build --action_env=REDIS_PASSWORD=$(AWS_REDIS_PASSWORD)
